.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-content{
    justify-content: center;
}

.uppercase{
    text-transform: uppercase;
}
.semibold{
    font-weight: bolder;
}

.space-between{
    justify-content: space-between;
}

.mx-2{
    margin-right: 12px;
    margin-left: 12px;
}

.section1{
     background-color: rgb(255 255 255);
}

.flexwrap{
    flex-wrap: wrap;
}